<mat-toolbar
  color="primary"
  style="display: flex; justify-content: space-between"
>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        routerLinkActive="isActive"
        className="isActive"
        routerLink="/page1"
        >Annunci</mat-list-item
      >
      <mat-list-item
        role="listitem"
        routerLinkActive="isActive"
        className="isActive"
        routerLink="/page2"
        >I miei annunci</mat-list-item
      >
    </mat-list>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
