<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  "
>
  <h1>Accedi</h1>
  <form
    #homeform="ngForm"
    (ngSubmit)="onSubmit(homeform)"
    style="
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
    "
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        type="email"
        name="email"
        ngModel
        required
        email
      />
      <mat-error></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput name="password" ngModel required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Invia</button>
  </form>
  <div style="display: flex; flex-direction: column; margin-top: 20px;">
    <p>Non sei ancora registrato?</p>
    <button mat-raised-button color="primary" routerLink="/register">Registrati</button>
  </div>
</div>
